body {
  font-family: sans-serif;
  background-color: orangered;
}

a {
  color: yellow;
}

h1 {
  font-family: 'Really Funny', ui-rounded;
}

h1, h2, p, .menu-sep {
  color: black;
}

.planets-container {
  display:flex;
  justify-content: space-evenly;
}

.planet {
  margin: 20px;
  width: 80%;
  display: inline-block;
}

.sol-container {
  width: 95%;
}

.one-column {
  width: 100%;
  padding: 20px;
  border: 12px solid white;
  margin: 20px;
}

img {
  width: inherit;
}

'hi there.. this is ben change'
