body {
  font-family: sans-serif;
  background-color: #000066;
}

a {
  color: yellow;
}

h1 {
  font-family: 'Caesar Dressing', cursive;
}

h1, h2, p, .menu-sep {
  color: white;
}

.planets-container {
  display:flex;
  justify-content: space-evenly;
}

.planet {
  margin: 20px;
  width: 80%;
  display: inline-block;
}

.sol-container {
  width: 95%;
}

.one-column {
  width: 100%;
  padding: 20px;
  border: 5px solid black;
  margin: 20px;
}

img {
  width: inherit;
}
